#imageId {
  position: absolute;
  object-fit: contain;
  object-position: center;
}

.wrap {
  height: 24px;
  position: relative;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.5em;
  aspect-ratio: 1;
}

.wrapA10v {
  height: 191px;
  position: relative;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.5em;
  aspect-ratio: 1.3769633508;
}
.wraplinearguides {
  height: 346px;
  position: relative;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.5em;
  aspect-ratio: 1.5924855491;
}
