/* Global */

.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}

/* Global End */

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: blue;
  background-color: lightblue;
  padding-top: 2em;
  padding-bottom: 2em;
}

/* campaing text */

@namespace svg url(http://www.w3.org/2000/svg);
html,
body,
svg {
  height: 100%;
}

svg|a:link,
svg|a:visited {
  cursor: pointer;
}

svg|a:hover,
svg|a:active {
  outline: dotted 1px blue;
}

.email-main {
  background-color: whitesmoke;
  width: auto;
  height: auto;
  padding: 1em;
  border-radius: 10px;
  position: relative;
  margin-bottom: 1em;
}

.email-content {
  background-color: lightblue;
  position: relative;
  padding: 1em;
  height: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.email-social {
  background-color: whitesmoke;
  position: relative;
  padding-top: 0.5em;
  height: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.1em;
  text-align: center;
  overflow: auto;
}
.social-meddia-text {
  color: grey;
}
.email-social-icons {
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: auto;
}
.email-footer {
  background-color: whitesmoke;
  position: relative;
  padding: 0.5em;
  height: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 10px;
}
.email-footer-text {
  color: grey;
  margin-bottom: 0.5em;
}
